<html>
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    <script src="{% static 'js/base64.js' %}"></script>
    <script src="{% static 'js/webauthn.js' %}"></script>
    <title>WebAuthn Test</title>
    <body>
        <h1>WebAuthn Test</h1>
        {% if current_user.is_authenticated %}
        <p>Logged in as {{ current_user.username }} | <a href="">Logout</a></p>
        {% else %}
            <h2>Register</h2>
            <form id="register-form" name="register" method="get">{% csrf_token %}
                <label for="register_username">Username:</label>
                <input name="register_username">
                <label for="register_display_name">Display Name:</label>
                <input name="register_display_name">
                <button id="register" type="submit">Register with WebAuthn</button>
            </form>

            <hr>

            <h2>Log In</h2>
            <form id="login-form" name="login" method="get">{% csrf_token %}
                <label for="login_username">Username:</label>
                <input name="login_username">
                <button id="login" type="submit">Log in with WebAuthn</button>
            </form>
        {% endif %}
    </body>
</html>