<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chat Room</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	{% load static %}
	<link  rel="stylesheet" href="{% static 'room.css'%}">
	<script src="{% static 'room.js' %}"></script>
	<script src="{% static 'notification.js' %}"></script>
</head>
<body>
<textarea id="chat-log" cols="23" rows="5"></textarea><br/>
<input id="chat-message-input" type="text" size="20" placeholder="chat_message"/><br/>
<input id="user-input" type="text" size="20" placeholder="user_name"/><br/>
<input id="chat-message-submit" type="button" value="chat"/>
<input id="notification-message-submit" type="button" value="notification"/>


<div class="chatRoomList">
	<div class="chatRoomListSelf">
		<img src="../static/avatar.jpg" alt="none" class="chatRoomListAvatar">
		<h2>{{Self_User.username}}</h2>
	</div>
	<div class="existRoomList">
		<div class="createNewRoom" onclick="createNewRoom()">
			<img src="https://image.flaticon.com/icons/svg/54/54443.svg" alt="none">
		</div>
		{% for room in Existed_Group %}
		<div class="singleExistRoom" id="room_{{ room.id }}">
			<img src="https://image.flaticon.com/icons/svg/784/784662.svg" alt="none">
			{{ room.display_name }}
		</div>
		{% endfor %}
	</div>
	<div class="existAllUser">
		{% for user in All_User %}
		<div class="singleChatUser" id="user_{{ user.id }}">
			<img src="https://image.flaticon.com/icons/svg/149/149452.svg" alt="none">
			{{ user.username }}
		</div>
		{% endfor %}
	</div>
</div>
<div class="chatRoomSpace">
	<!--
    <div class="chatRoomOverFlow"></div>
    -->
	<!--
    <div class="singleChatRoom unOpenChatRoom">
        <div class="singleChatRoomHead">
            <div class="singleChatRoomHeadName">
                RoomName when overflow
            </div>
            <div class="singleChatRoomIconSpace">
                <i class="material-icons singleChatRoomVideoCam">videocam</i>
                <i class="material-icons singleChatRoomClose" >close</i>
            </div>
        </div>
        <div class="singleChatRoomMessageSpace" style="display: block;">
            <div class="chatRoomMessage">
                <div class="messageFromSelf">
                    Test Message
                </div>
            </div>
            <div class="chatRoomMessage">
                <div class="chatRoomAvatarSpace">
                    <img src="../static/avatar.jpg" alt="none" class="chatRoomAvatar">
                </div>
                <div class="messageFromOther">
                    Test Message From Other if too long
                </div>

            </div>
            <div class="chatRoomMessage">
                <div class="messageFromSelf">
                    Test Message
                </div>
            </div>
        </div>
        <textarea class="singleChatRoomText"></textarea>
        <button class="singleChatRoomTextButton"></button>
    </div>
    -->
</div>
<div id="notification_icon" class="None_Notification">
	<span class="redpoint" id="notification_redpoint">0</span>
</div>
<div class="list-group" id="notification_list_group" >
	{% for ele in All_Notification reversed %}
	{% if ele.seen %}
	<a href="#" class="list-group-item list-group-item-action" id="notification_{{ele.id}}">{{ele.content}}</a>
	{% else %}
	<a href="#" class="list-group-item list-group-item-action list-group-item-primary"id="notification_{{ele.id}}">{{ele.content}}</a>
	{% endif %}
	{% endfor %}
</div>
<!--
<div class="modalBackground">
	<div class="videoCamModal">
		<img src="https://image.flaticon.com/icons/svg/181/181549.svg" alt="">
		<div class="modalIconSpace"></div>
			<i class="material-icons modalCallIcon">call</i>
			<i class="material-icons modalEndIcon">call_end</i>
		</div>
	</div>
</div>
<div class="modalBackground">
	<iframe src="../rtc/abc" frameborder="0" style="position: absolute; top: 10%;left: 10%; height:80%; width:80%; background:black;"></iframe>
	<i class="material-icons videoClose" >close</i>
</div>
<div class="modalBackground">
	<div class="createNewRoomModal">
		<i class="material-icons createNewRoomClose" >close</i>
		<h2><i>Create New Room</i></h2>
		<div class="createNewRoomName">
			<img src="https://image.flaticon.com/icons/svg/1250/1250925.svg" alt="none">
			<textarea name="roomName" id="roomNameSpace" cols="30" rows="1" placeholder="輸入新群組名稱"></textarea>
		</div>
		<div class="createNewRoomPeople">
			<div class="allUserForchoose">
				<label><input type="checkbox" class="newRoomUserOption" name="nckuee" value="nckuee"> nckuee</label><br>
			</div>
			<div class="userChosen">
				<div class="singleUserChosen">
					<span>nckuee</span>
					<i class="material-icons singleUserChosenClose" >close</i>
				</div>
			</div>
		</div>
		<button class="newRoomModalSend">確認</button>
	</div>
</div>
-->
</body>
<script>
    var allUser = []
	{% for user in All_User %}
		allUser.push("{{ user.username }}")
	{% endfor %}
	/******
	 關於 ws的前端
	 ******/
	var roomName = "{{ room_name_json }}";
	var chatSocket = new WebSocket(
			'wss://' + window.location.host +
			'/websocket/chat/' + roomName + '/');

	/******
	 當訊息進入前端 進入 onmessage
	 ******/
	chatSocket.onmessage = function (e) {
		var data = JSON.parse(e.data);
		var message = data['message'];
		var type = data['type'];
		//判斷類別
		if(type == "notification"){
			//新增通知
			add_red_point("notification_redpoint");
			var notification_id = data["id"]
			//加入通知內容
			if($("#notification_list_group > a").length){
				$('<a href="#" class="list-group-item list-group-item-action list-group-item-primary"id="notification_'+notification_id+'">'+message+'</a>').insertBefore($("#notification_list_group a:first-child"));
			}else{
				$("#notification_list_group").append('<a href="#" class="list-group-item list-group-item-action list-group-item-primary"id="notification_'+notification_id+'">'+message+'</a>')
			}
		}else if(type == "chat"){
			/******確認收到訊息者為接收者 非發送者******/
			if(data['from_user'] != "{{ request.user.username }}"){
				var group_name = data["group_name"]
				var display_name = data["display_name"]
				//若聊天室未打開 則append聊天室
				if($("#display_room_"+group_name).length){
					$("#display_room_"+group_name).find(".singleChatRoomMessageSpace").append('<div class="chatRoomMessage"><div class="chatRoomAvatarSpace"><img src="../static/avatar.jpg" alt="none" class="chatRoomAvatar"></div><div class="messageFromOther">'+ message +'</div></div>');
					$("#display_room_"+group_name).find(".singleChatRoomMessageSpace")[0].scrollTop = $("#display_room_"+group_name).find(".singleChatRoomMessageSpace")[0].scrollHeight
				}else{
					chatRoomOpenList.push("display_" + this.id)
					if(chatRoomOpenList.length <4) {
						$(".chatRoomSpace").append('<div class="singleChatRoom unOpenChatRoom" id="display_room_'+group_name+'"> <div class="singleChatRoomHead"><div class="singleChatRoomHeadName"> '+display_name+'</div> <div class="singleChatRoomIconSpace"><i class="material-icons singleChatRoomVideoCam">videocam</i><i class="material-icons singleChatRoomClose" >close</i></div> </div> <div class="singleChatRoomMessageSpace"> </div> <textarea class="singleChatRoomText"></textarea><button class="singleChatRoomTextButton"></button></div>')
					}else if(chatRoomOpenList.length == 4){
						$(".chatRoomSpace").append('<div class="singleChatRoom unOpenChatRoom" style="display: none" id="display_room_' + group_name + '"> <div class="singleChatRoomHead"><div class="singleChatRoomHeadName"> ' + display_name + '</div> <div class="singleChatRoomIconSpace"><i class="material-icons singleChatRoomVideoCam">videocam</i><i class="material-icons singleChatRoomClose" >close</i></div> </div> <div class="singleChatRoomMessageSpace"> </div> <textarea class="singleChatRoomText"></textarea><button class="singleChatRoomTextButton"></button></div>')
						$(".chatRoomSpace").append('<div class="chatRoomOverFlow"></div>')
					}else{
						$('<div class="singleChatRoom unOpenChatRoom" style="display: none" id="display_room_' + group_name + '"> <div class="singleChatRoomHead"><div class="singleChatRoomHeadName"> ' + display_name + '</div> <div class="singleChatRoomIconSpace"><i class="material-icons singleChatRoomVideoCam">videocam</i><i class="material-icons singleChatRoomClose" >close</i></div> </div> <div class="singleChatRoomMessageSpace"> </div> <textarea class="singleChatRoomText"></textarea><button class="singleChatRoomTextButton"></button></div>').insertBefore($(".chatRoomOverFlow"))
					}
					$("#display_room_"+group_name).find(".singleChatRoomMessageSpace").append('<div class="chatRoomMessage"><div class="chatRoomAvatarSpace"><img src="../static/avatar.jpg" alt="none" class="chatRoomAvatar"></div><div class="messageFromOther">'+ message +'</div></div>');
					getRoomMessage(group_name)
					$("#display_room_"+ group_name +" > .singleChatRoomMessageSpace").bindScrollHandler()
				}
				if($("#display_room_"+group_name).hasClass("unOpenChatRoom")){
					$("#display_room_"+group_name).find(".singleChatRoomHead").addClass("singleChatRoomHeadNotification")
				}
			}
		}else if(type == 'videoAsk'){
		    console.log(data['from_user'])
			console.log("{{ request.user.username }}")
            if( data['from_user'] != "{{ request.user.username }}"){
				$("body").append('<div class="modalBackground"><div class="videoCamModal" id="modal_'+ data["videoChat"]+'"><img src="https://image.flaticon.com/icons/svg/181/181549.svg" alt=""><div class="modalIconSpace"></divc><i class="material-icons modalCallIcon">call</i><i class="material-icons modalEndIcon">call_end</i></div></div></div>')
			}
			if (document.hasFocus()) {
				console.log("normal")
			}else{
				var notification = new Notification("Video Call");
			}
		}
		//document.querySelector('#chat-log').value += (message + '\n');
	};

	chatSocket.onclose = function (e) {
		console.error('Chat socket closed unexpectedly');
	};

	document.querySelector('#chat-message-input').focus();
	/********
	 initially existed, no use
	 document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
	 *********/


	document.querySelector('#notification-message-submit').onclick = function (e) {
		var messageInputDom = document.querySelector('#chat-message-input');
		var message = messageInputDom.value;
		var user_name = document.querySelector('#user-input').value;
		chatSocket.send(JSON.stringify({
			'message': message,
			'type':'notification',
			'user_name':user_name,
		}));
		messageInputDom.value = '';
	};
	/******
	 傳送通知
	 Usage:
	 message: 欲傳送訊息
	 type: 判斷ws是通知或是聊天訊息
	 user_name: 判斷ws傳送對象 ( "user" )
	 {因 通知對人 聊天對聊天室}
	 ******/
</script>
<script>
	/******
	 前端load
	 ******/

	$(document).ready(function(){
		{% for ele in All_Notification reversed %}
		{% if not ele.seen %}
		add_red_point("notification_redpoint");
		{% endif %}
		{% endfor %}
	})
	/******
	 將通知數顯示在小紅點
	 {通知內容在html裡加入}
	 ******/


</script>
</html>