{% block head %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	{% load static %}
	<link  rel="stylesheet" href="{% static 'room.css'%}">
	<script src="{% static 'room.js' %}"></script>
{% endblock%}
{% block content %}
<div class="chatRoomList">
	<div class="chatRoomListSelf">
		<img src="../static/avatar.jpg" alt="none" class="chatRoomListAvatar">
		<h2>{{Self_User.username}}</h2>
	</div>
	<div class="existRoomList">
		<div class="createNewRoom" onclick="createNewRoom()">
			<img src="https://image.flaticon.com/icons/svg/54/54443.svg" alt="none">
		</div>
		{% for room in Existed_Group %}
		<div class="singleExistRoom" id="room_{{ room.id }}">
			<img src="https://image.flaticon.com/icons/svg/784/784662.svg" alt="none">
			{{ room.display_name }}
		</div>
		{% endfor %}
	</div>
	<div class="existAllUser">
		{% for user in All_User %}
		<div class="singleChatUser" id="user_{{ user.id }}">
			<img src="https://image.flaticon.com/icons/svg/149/149452.svg" alt="none">
			{{ user.username }}
		</div>
		{% endfor %}
	</div>
</div>
<div class="chatRoomSpace"></div>
{% endblock %}
{% block js %}
<script>
    var allUser = []
	{% for user in All_User %}
		allUser.push("{{ user.username }}")
	{% endfor %}
	/******
	 關於 ws的前端
	 ******/
	var roomName = "{{ room_name_json }}";
	var chatSocket = new WebSocket(
			'wss://' + window.location.host +
			'/websocket/chat/' + roomName + '/');

	/******
	 當訊息進入前端 進入 onmessage
	 ******/
	chatSocket.onmessage = function (e) {
		var data = JSON.parse(e.data);
		var message = data['message'];
		var type = data['type'];
		//判斷類別
		if(type == "chat"){
			/******確認收到訊息者為接收者 非發送者******/
			if(data['from_user'] != "{{ request.user.username }}"){
				var group_name = data["group_name"]
				var display_name = data["display_name"]
				//若聊天室未打開 則append聊天室
				if($("#display_room_"+group_name).length){
					$("#display_room_"+group_name).find(".singleChatRoomMessageSpace").append('<div class="chatRoomMessage"><div class="chatRoomAvatarSpace"><img src="../static/avatar.jpg" alt="none" class="chatRoomAvatar"></div><div class="messageFromOther">'+ message +'</div></div>');
					$("#display_room_"+group_name).find(".singleChatRoomMessageSpace")[0].scrollTop = $("#display_room_"+group_name).find(".singleChatRoomMessageSpace")[0].scrollHeight
				}else{
					chatRoomOpenList.push("display_" + this.id)
					if(chatRoomOpenList.length <4) {
						$(".chatRoomSpace").append('<div class="singleChatRoom unOpenChatRoom" id="display_room_'+group_name+'"> <div class="singleChatRoomHead"><div class="singleChatRoomHeadName"> '+display_name+'</div> <div class="singleChatRoomIconSpace"><i class="material-icons singleChatRoomVideoCam">videocam</i><i class="material-icons singleChatRoomClose" >close</i></div> </div> <div class="singleChatRoomMessageSpace"> </div> <textarea class="singleChatRoomText"></textarea><button class="singleChatRoomTextButton"></button></div>')
					}else if(chatRoomOpenList.length == 4){
						$(".chatRoomSpace").append('<div class="singleChatRoom unOpenChatRoom" style="display: none" id="display_room_' + group_name + '"> <div class="singleChatRoomHead"><div class="singleChatRoomHeadName"> ' + display_name + '</div> <div class="singleChatRoomIconSpace"><i class="material-icons singleChatRoomVideoCam">videocam</i><i class="material-icons singleChatRoomClose" >close</i></div> </div> <div class="singleChatRoomMessageSpace"> </div> <textarea class="singleChatRoomText"></textarea><button class="singleChatRoomTextButton"></button></div>')
						$(".chatRoomSpace").append('<div class="chatRoomOverFlow"><div class="chatRoomOverFlowList"></div></div>>')
						overFlowRoom(display_name,"display_room_"+group_name)
					}else{
						$('<div class="singleChatRoom unOpenChatRoom" style="display: none" id="display_room_' + group_name + '"> <div class="singleChatRoomHead"><div class="singleChatRoomHeadName"> ' + display_name + '</div> <div class="singleChatRoomIconSpace"><i class="material-icons singleChatRoomVideoCam">videocam</i><i class="material-icons singleChatRoomClose" >close</i></div> </div> <div class="singleChatRoomMessageSpace"> </div> <textarea class="singleChatRoomText"></textarea><button class="singleChatRoomTextButton"></button></div>').insertBefore($(".chatRoomOverFlow"))
						overFlowRoom(display_name,"display_room_"+group_name)
					}
					$("#display_room_"+group_name).find(".singleChatRoomMessageSpace").append('<div class="chatRoomMessage"><div class="chatRoomAvatarSpace"><img src="../static/avatar.jpg" alt="none" class="chatRoomAvatar"></div><div class="messageFromOther">'+ message +'</div></div>');
					getRoomMessage(group_name)
					$("#display_room_"+ group_name +" > .singleChatRoomMessageSpace").bindScrollHandler()
				}
				if($("#display_room_"+group_name).hasClass("unOpenChatRoom")){
					$("#display_room_"+group_name).find(".singleChatRoomHead").addClass("singleChatRoomHeadNotification")
				}
			}
		}else if(type == 'videoAsk'){
		    console.log(data['from_user'])
			console.log("{{ request.user.username }}")
            if( data['from_user'] != "{{ request.user.username }}"){
				$("body").append('<div class="modalBackground"><div class="videoCamModal" id="modal_'+ data["videoChat"]+'"><img src="https://image.flaticon.com/icons/svg/181/181549.svg" alt=""><div class="modalIconSpace"></divc><i class="material-icons modalCallIcon">call</i><i class="material-icons modalEndIcon">call_end</i></div></div></div>')
			}
			if (document.hasFocus()) {
				console.log("normal")
			}else{
				var notification = new Notification("Video Call");
			}
		}
		//document.querySelector('#chat-log').value += (message + '\n');
	};

	chatSocket.onclose = function (e) {
		console.error('Chat socket closed unexpectedly');
	};
</script>

{% endblock %}