.main_1{
    position: fixed;
    left: 0%;
    bottom: 0;
    min-width: 80%;
    min-height: 80%;
    z-index: 0;
}
.main_2{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 25%;
    min-height: 25%;
    max-width: 50%;
    max-height: 50%;
    z-index: 0;
}
.second{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 5%;
    min-height: 5%;
    max-height:25%;
    z-index: 1;
}
#join_button{
    position: fixed;
    left:50%;
    bottom:30%;
    height:5%;
    width:10vh;
    margin-left: -5vh;
    background: cornflowerblue;
    color: white;
    font-size: 2vh;
    display: none;
}
