body,html{
	height: 100%;
	margin: 0;
}

#notification_icon{
	position:absolute;
	top:2vh;
	right:20vw;
	height:5vh;
	width:5vh;
}
.None_Notification{
	background-image : url(https://image.flaticon.com/icons/svg/814/814587.svg);
}
.Notification{
	background-image : url(https://image.flaticon.com/icons/svg/814/814513.svg);
}
.redpoint{
	display:none;
	height:16px;
	width:16px;
	line-height:16px;
	text-align:center;
	font-size:0.1em;
	border-radius:16px;
	color:#fff;
	background:red;
	position: relative;
	top: -8px;
	right: 8px;
}
#notification_list_group{
	position:absolute;
	top: 7vh;
	right: 2vh;
	width:20vw;
	display:none;
}
.chatRoomSpace{
	height: 40%;
	width : 80vw;
	position: fixed;
    right: 20vw;
	bottom: 0;
	/*
	border: 1pt solid;
	 */
}
.singleChatRoom{
	border: 0.1em solid;
	border-bottom: 0;
	border-top-left-radius: 1vh;
	border-top-right-radius: 1vh;
	float: right;
	position: relative;
	top: 35vh;
	margin: 0 1% ;
}
.unOpenChatRoom{
	width: 15%;
	height: 5vh;
	top: 35vh;
}
.openChatRoom{
	width: 25%;
	height: 40vh;
	top: 0;
}
.singleChatRoomHead{
	width: 100%;
	height: 5vh;
	background-color: #cccccc;
	border-top-left-radius: .75vh;
	border-top-right-radius: .75vh;
    padding: .5vh;
    overflow: hidden;
    cursor: pointer;
}
.singleChatRoomHeadName{
	width: 70%;
	height: 5vh;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.singleChatRoomIconSpace{
	position: absolute;
	right: 0;
	top: 0;
}
.singleChatRoomVideoCam{
	display: none;
}
.singleChatRoomIconSpace > .material-icons:hover{
	color:gray;
}
.singleChatRoomHeadNotification{
	background-color: #80bfff !important;
}
.singleChatRoomMessageSpace{
	width: 100%;
	height: 30vh;
	background-color: #f2f2f2;
	top: 5vh;
	display: none;
    overflow: auto;
}
.chatRoomMessage{
	min-height: 4vh;
	width: 100%;
	margin: 0.375vh 0;
	position: relative;
	display: inline-block;
    /*
	border: 1pt solid;
     */
}
.messageFromSelf{
	float: right;
	border-radius: 1vh;
	padding: 0.25vh;
	background-color: black;
	color: white;
	margin: 0.5vh 5%;
    min-width: 6%;
	max-width: 90%;
	word-wrap: break-word;
}
.messageFromOther{
	float: left;
	border-radius: 1vh;
	padding: 0 0.25vh;
	background-color: black;
	color: white;
	min-width: 6%;
	max-width: 75%;
	margin: 0.5vh 5% 0.5vh 6vh;
	display: block;
	word-wrap: break-word;
}
.chatRoomAvatar{
	border-radius: 50%;
	height: 4vh;
	width: 4vh;
	position: absolute;
	margin: 0.5vh
}
.chatRoomAvatarSpace{
	width: 4vh;
	height: 100%;
    display: block;
}
.singleChatRoomText{
	outline: none;
	width: 80%;
	display: inline-block;
	border: none;
	height: 4.75vh;
	overflow: hidden;
}
.singleChatRoomTextButton{
	background-image: url("https://image.flaticon.com/icons/svg/71/71746.svg");
	position: absolute;
	bottom: 0;
	right: 0;
	height: 3vh;
	width: 3vh;
    background-repeat: no-repeat ;
	background-size: cover;
	border: none;
	display: none;
	cursor: pointer;
}
.singleChatRoomTextButton:focus{
	outline: none;
}
.chatRoomList{
	height: 100vh;
	width: 18%;
	border-left: 1pt solid;
	border-left-color: #f2f2f2 ;
	position: fixed;
	bottom: 0;
	right: 0;
}
.chatRoomListSelf{
	height: 11%;
	width: 100%;
	border-bottom: 1pt solid;
	border-bottom-color: #f2f2f2 ;
}
.chatRoomListSelf > h2{
	position: absolute;
	top: 3%;
	left: 12vh;
}
.chatRoomListAvatar{
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	position: absolute;
	margin: 0.5vh
}
.existRoomList{
	min-height: 0.5vh;
	max-height: 40vh;
	width: 100%;
	display: inline-block;
	overflow: auto;
	border-bottom: 1pt solid;
	border-bottom-color: #f2f2f2 ;
	z-index: 0;
}
.createNewRoom{
	height: 5vh;
	width: 100%;
    cursor: pointer;
}
.createNewRoom > img{
	height: 4vh;
	width: 4vh;
	margin: auto;
    display: block;
}
.singleExistRoom, .singleChatUser{
	height: 5vh;
	width: 100%;
	margin: .5vh 0;
	z-index: 2;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.createNewroom:hover , .singleExistRoom:hover , .singleChatUser:hover {
	background-color: #e6e6e6;
}
.singleExistRoom > img , .singleChatUser > img{
	height: 4vh;
	width: 4vh;
	margin: .5vh;
}
.chatRoomOverFlow{
	height: 5vh;
	width: 5%;
    background-image: url("https://image.flaticon.com/icons/svg/25/25379.svg");
	background-size: cover;
	background-position: center;
	border: 0.1em solid;
	border-bottom: 0;
	border-top-left-radius: 1vh;
	border-top-right-radius: 1vh;
	float: right;
	position: relative;
	top: 35vh;
	margin: 0 1%;
}
.chatRoomLoadMessage{
	height: 5vh;
	width: 100%;
	background-image: url("../static/loading.gif");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.modalBackground{
	height: 100%;
	width:100%;
	z-index: 10;
	background-color: rgba(102,102,102,0.5);
	position: absolute;
	top:0;
	left: 0;
}
.videoCamModal{
	height: 30vh;
	width:30vw;
	position: absolute;
	top: 30vh;
	left: 35vw;
    border-color: black;
	background-color: gray;
    box-shadow: 5px 5px 3px grey;
	z-index: 15;
	opacity: 1;
}
.videoCamModal > img{
    width: 40%;
    position: absolute;
	top: 0;
	left: 30%;
    padding: 3%;
    opacity: 1;
}
.modalIconSpace{
	width:100%;
	height:30%;
	position: absolute;
	bottom:0;
}
.modalCallIcon{
	color : #00ff00;
	font-size:8vh;
    margin: 0 3vw;
	cursor: default;
}
.modalCallIcon:hover{
	color: green;
}
.modalEndIcon{
	color: red;
	font-size: 8vh ;
	float: right;
	margin: 0 3vw;
	cursor: default;
}
.modalEndIcon:hover{
	color: #990000;
}
.videoClose{
	color:white;
	position: absolute;
	top:10%;
	left: 88%;
	cursor: default;
}
.createNewRoomModal{
	height: 50vh;
	width: 40vw;
	position: absolute;
	top:20vh;
	left:30vw;
	background-color: white;
	border-radius: 1vh;
	box-shadow: 3px 3px 3px grey;
}
.createNewRoomModal > h1{
    font-size: 5vh;
    margin: .5vh;
}
.createNewRoomClose{
	cursor: default;
    position: absolute;
	top:2%;
	right:2%;
}
.createNewRoomName{
    border-top: 1pt solid;
	border-bottom: 1pt solid;
	border-color: #cccccc;
	height: 7vh;
	width: 100%;
}
.createNewRoomName > img{
	height: 4vh;
}
#roomNameSpace{
	outline: none;
    resize: none;
	width: auto;
	border: none;
	font-size: 2.5vh;
}
.createNewRoomPeople{
	height: 30vh;
	width: 100%;
	border-top: 1pt solid;
	border-bottom: 1pt solid;
	border-color: #cccccc;
	position: absolute;
	bottom: 5vh;
}
.allUserForchoose{
	position: absolute;
	height: 100%;
	width: 60%;
	overflow: auto;
	border-right: 1pt solid;
	border-color: #cccccc;
}
.userChosen{
	height: 100%;
	width:40%;
	position: absolute;
	left:60%;
	overflow: auto;
}
.singleUserChosen{
	height: 4vh;
    cursor: default;
}
.singleUserChosen:hover{
	background-color: #e6e6e6;
}
.singleUserChosenClose{
	height: 100%;
	margin: auto;
	float: right;
	cursor: pointer;
	display: none;
}
.newRoomModalSend{
    position: absolute;
	bottom: 0;
	right: 0;
    margin: .5vh;
	background-color: #99ccff;
    cursor:pointer;
}

